In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('customer_shopping_behavior.csv') # syntax to read a csv file

In [3]:
df.head() # by default gives first 5 rows , .head(n) -> gives first n rows in data set

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [4]:
df.info()   # overall summary like no of rows datatype..so on

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [5]:
df.describe() # by default gives the summary statistics of numerical columns only

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [6]:
df.describe(include='all') 
# to get statistical summary of all the columns i.e including non numerical/categorical columns as well.

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [7]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [8]:
# Instead of deleting null rows or  filling the missing review rating with mean of all ratings
# we will fill the missing ratings with the median rating with respective to each category
# i.e if a clothing item review is missing we will fill it with clothing items median rating , not with the median rating of footware item
# this would be a right approach to fill the missing data.

In [9]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

# this will fill the null ratings with their respective category median ratings

# this is how we should think in analytical mind set & solve our road blockers

'''
.transform(...)

This is very important.

transform() applies a function group-wise

BUT it returns a Series of the same length as the original DataFrame

The original row order and index are preserved

----------------------------------------------

lambda x: x.fillna(x.median())

This function runs once per category.

For each category:

x = all Review Rating values in that category

x.median() = median rating within that category

x.fillna(x.median()):

- Keeps existing values unchanged

- Replaces NaN values with the category median

------------------------------------------------

Ex : 

Electronics ratings: [4.5, NaN, 4.0, 5.0]
Median = 4.5
NaN ‚Üí replaced with 4.5

------------------------------------------------

Why median (data science reasoning)

Median is robust to outliers

Ratings often have skewed distributions

Better than mean when extreme ratings exist

-------------------------------------------------
Performance & best-practice note

For large datasets, this is efficient because:

Computation is vectorized

No explicit Python loops

Uses Pandas‚Äô optimized groupby engine

------------------------------------------------

one edge case is that , if all the value in the 
column are Nan then the median is also Nan.

-------------------------------------------------

'''

In [10]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [11]:
df.columns = df.columns.str.lower()           # converts all columns to lower case
df.columns = df.columns.str.replace(' ','_')  # replaces all spaces in column names with '_'
# to follow snake casing (naming with all lowercase and _ only)

In [12]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [13]:
df = df.rename(columns = {'purchase_amount_(usd)':'purchase_amount'})
# renaming a column

In [14]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [15]:
# create a new column (age_group)

labels = ['Young Adult','Adult' , 'Middle-aged','Senior']
df['age_group'] = pd.qcut(df['age'],q=4,labels=labels)

# pd.qcut() - splits the age into 4 equal sized groups based on data distribution
# and assigns the labels we defines

# q value and the no of labes must match (imp)

In [16]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

'''
It creates a new column age_group by dividing the age column into 4 equally sized groups (quartiles) and assigns meaningful labels to each group.

This is quantile-based binning, not range-based binning.

------------------------------------------------------

pd.qcut()

qcut stands for Quantile Cut.

It splits data based on quantiles

Each bin contains approximately the same number of rows

Bin widths (age ranges) are not equal

üìå Contrast:

pd.cut() ‚Üí equal ranges
pd.qcut() ‚Üí equal counts

------------------------------------------------------

q=4

This tells Pandas:

Split the data into 4 quantiles

These are commonly called quartiles

Quantile	Description
Q1	lowest 25%
Q2	25‚Äì50%
Q3	50‚Äì75%
Q4	highest 25%

Each group contains ~25% of the data.
Each row now belongs to one of four age groups 
 Each group has roughly the same number of rows
 
------------------------------------------------------


Why use qcut instead of cut?

Prevents imbalanced groups

Useful when age distribution is skewed

Ideal for:

Segmentation

Fair comparison across groups

Modeling (avoids sparse categories)

üìä Example use cases:

Customer segmentation

Risk stratification

Behavioral analysis

-----------------------------------------------------
Common pitfalls ‚ö†Ô∏è

1Ô∏è‚É£ Duplicate values at boundaries

If many identical ages exist, you may get:

ValueError: Bin edges must be unique


‚úÖ Fix:

pd.qcut(df['age'], q=4, labels=labels, duplicates='drop')

-------------------------------------------------------

Comparison with pd.cut() :

Feature           qcut               cut

Bin type      Equal frequency    Equal width

Group size      Balanced         Can be skewed

Best for       Segmentation      Fixed ranges

Data-driven        Yes                No

--------------------------------------------------------
'''

In [17]:
# create column (purchase_frequency_days)
# mapping it with freq of purchases -> as numerical column will be more ideal & for bttr undersatnding of data
# How to create a new numerical column  & map it with similar text column to replace it during analysis ? (imp)

frequency_mapping = {
    'Fortnightly':14,
    'Weekly': 7,
    'Bi-Weekly': 14,
    'Monthly': 30,
    'Quarterly': 90,
    'Annually': 365,
    'Every 3 Months': 90
}

df['purchase_frequency_days']=df['frequency_of_purchases'].map(frequency_mapping)

In [18]:
df[['frequency_of_purchases','purchase_frequency_days']].head(10)

  frequency_of_purchases  purchase_frequency_days
0            Fortnightly                       14
1            Fortnightly                       14
2                 Weekly                        7
3                 Weekly                        7
4               Annually                      365
5                 Weekly                        7
6              Quarterly                       90
7                 Weekly                        7
8               Annually                      365
9              Quarterly                       90

In [19]:
df[['discount_applied','promo_code_used']].head()

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes

In [20]:
# TO CHECK IF BOTH COLUMNS HAVE SAME VALUES

# How to check if 2 columns have the same values for all the data set ? (imp)

(df['discount_applied'] == df['promo_code_used']).all()

True

 - Result = true means -> in whole data set both have same values (yes=yes / no=no) i.e both columns carry same data
 - So we can either use only one column / drop one column

'''
(df['discount_applied'] == df['promo_code_used']).all() : 

It checks whether every row in the column discount_applied is exactly equal to the corresponding value in promo_code_used.

The result is a single boolean value:

True ‚Üí all rows match

False ‚Üí at least one row does not match
'''

In [21]:
df = df.drop('promo_code_used',axis=1)

In [22]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [ ]:
'''
1Ô∏è‚É£ df.drop(...)

drop() removes labels from a DataFrame.

It can remove:

Rows ‚Üí axis=0

Columns ‚Üí axis=1

---------------------------------------------

2Ô∏è‚É£ Dropping multiple columns

df = df.drop(['promo_code_used', 'old_flag'], axis=1)

Or cleaner:

df = df.drop(columns=['promo_code_used', 'old_flag'])

--------------------------------------------

'''

In [ ]:
!pip install psycopg2-binary sqlalchemy

#This command installs SQLAlchemy and the PostgreSQL driver needed to connect Python applications to a PostgreSQL database.
'''
How these work together üß†
Your Python Code
     ‚Üì
SQLAlchemy (ORM / SQL engine)
     ‚Üì
psycopg2 (PostgreSQL driver)
     ‚Üì
PostgreSQL Database


Without psycopg2, SQLAlchemy cannot connect to Postgres.
-------------------------------------------------------------
Command type	Where it runs
pip install ...	Terminal / Shell
!pip install ...	Jupyter Notebook
import package	Python interpreter
--------------------------------------------------------------
'''

In [26]:
from sqlalchemy import create_engine

In [31]:
# Connecting to PostgreSQL

username = 'postgres'
password = 'password'
host = 'localhost'
port = '5432'
database = 'customer_behaviour'

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# Loading dataframe into PostgreSQL

table_name = 'customer' # put any table name of your choice
df.to_sql(table_name,engine,if_exists='replace',index=False)

print(f"Data successfully loaded into'{table_name}' in database '{database}'")

Data successfully loaded into'customer' in database 'customer_behaviour'

In [ ]:
'''
1Ô∏è‚É£ Import
from sqlalchemy import create_engine

create_engine creates a database connection engine

Used by pandas to talk to PostgreSQL
-----------------------------------------------------
2Ô∏è‚É£ Connection credentials
username = 'postgres'
password = 'your_password_here'
host = 'localhost'
port = '5432'
database = 'customer_behaviour'


host='localhost' ‚Üí database is on your local machine

port='5432' ‚Üí default PostgreSQL port

database ‚Üí must exist in pgAdmin
-----------------------------------------------------
3Ô∏è‚É£ Create SQLAlchemy engine
engine = create_engine(
    f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"
)

This string is called a connection URI.

This engine:
Manages connections
Is reused by pandas
Is production-grade
------------------------------------------------------
One-line summary:

This script connects Python to PostgreSQL using SQLAlchemy 
and writes a pandas DataFrame into a Postgres table.

(IMP) -> In real companies, customer behaviour data lives in cloud warehouses fed by event pipelines 
and analysts never connect to localhost or production databases directly.
-----------------------------------------------------
'''